site_name: EvisHomeLab
site_url: https://www.evishome.com/
repo_name: EvisHome/EvisHomeLab
repo_url: https://github.com/EvisHome/EvisHomeLab
edit_uri: edit/main/docs/
theme:
  name: material
  features:
    - navigation.indexes
  # Add the following block for color customization
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: orange
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    # Palette toggle for dark mode (Default selection)
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: orange
      toggle:
        icon: material/weather-night
        name: Switch to light mode

markdown_extensions:
  - attr_list # Required for MkDocs Material styling features
  - admonition
  - pymdownx.details
  - pymdownx.extra
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

extra_css:
  - assets/css/custom.css

plugins:
  - tags:
      tags_file: tags.md
  - awesome-pages
  - glightbox
  - mkdocs-video
  - search
  - macros:
      render_by_default: false

extra:
  analytics:
    provider: google
    property: G-Q3C6JS2Q46
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better. We use Google Analytics to collect anonymous usage data.
    cookies:
      analytics:
        name: Google Analytics
        checked: true
