site_name: EvisHomeLab
site_url: https://www.evishome.com/
repo_name: EvisHome/EvisHomeLab
repo_url: https://github.com/EvisHome/EvisHomeLab
edit_uri: edit/main/docs/
theme:
  name: material
  # Add the following block for color customization
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: orange
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    # Palette toggle for dark mode (Default selection)
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: orange
      toggle:
        icon: material/weather-night
        name: Switch to light mode

markdown_extensions:
  - attr_list # Required for MkDocs Material styling features
  - admonition
  - pymdownx.details
  - pymdownx.extra
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

extra_css:
  - assets/css/custom.css

plugins:
  - tags:
      tags_file: tags.md
  - awesome-pages
